In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("submissions.csv")

In [8]:
df

,customer_id,prediction
0,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,0568601043 0779781015 0858856005 0399256001 08...
1,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,0112679048 0111609001 0111593001 0111586001 01...
2,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,0794321007 0794321011 0805000008 0805000007 09...
3,00005ca1c9ed5f5146b52ac8639a40ca9d57aeff4d1bd2...,0112679048 0111609001 0111593001 0111586001 01...
4,00006413d8573cd20ed7128e53b7b13819fe5cfc2d801f...,0112679048 0111609001 0111593001 0111586001 01...
...,...,...
1371975,ffffbbf78b6eaac697a8a5dfbfd2bfa8113ee5b403e474...,0557599022 0804992013 0805000007 0700765001 05...
1371976,ffffcd5046a6143d29a04fb8c424ce494a76e5cdf4fab5...,0112679048 0111609001 0111593001 0111586001 01...
1371977,ffffcf35913a0bee60e8741cb2b4e78b8a98ee5ff2e6a1...,0762846027 0895610005 0895555002 0762846029 08...
1371978,ffffd7744cebcf3aca44ae7049d2a94b87074c3d4ffe38...,0112679048 0111609001 0111593001 0111586001 01...
1371979,ffffd9ac14e89946416d80e791d064701994755c3ab686...,0112679048 0111609001 0111593001 0111586001 01...

In [9]:
df = df.drop(['customer_id'], axis=1)
df

                                                prediction
0        0568601043 0779781015 0858856005 0399256001 08...
1        0112679048 0111609001 0111593001 0111586001 01...
2        0794321007 0794321011 0805000008 0805000007 09...
3        0112679048 0111609001 0111593001 0111586001 01...
4        0112679048 0111609001 0111593001 0111586001 01...
...                                                    ...
1371975  0557599022 0804992013 0805000007 0700765001 05...
1371976  0112679048 0111609001 0111593001 0111586001 01...
1371977  0762846027 0895610005 0895555002 0762846029 08...
1371978  0112679048 0111609001 0111593001 0111586001 01...
1371979  0112679048 0111609001 0111593001 0111586001 01...

[1371980 rows x 1 columns]

In [11]:
todel = '0112679048 0111609001 0111593001 0111586001 0111565003 0111565001 0110065011 0110065002 0110065001 0108775051 0108775044 0108775015'

In [14]:
df_clear = df.drop(df[df['prediction']==todel].index)

In [24]:
df_clear_list = list(df_clear['prediction'])

In [25]:
df_clear_list.append(todel)

In [55]:
df_clear_list[-1]

'0112679048 0111609001 0111593001 0111586001 0111565003 0111565001 0110065011 0110065002 0110065001 0108775051 0108775044 0108775015'

In [27]:
len(df_clear_list)

196320

In [56]:
df_clear_final = []
for i in df_clear_list:
    df_clear_final.append(i.split())

In [57]:
df_clear_final[-1]

['0112679048',
 '0111609001',
 '0111593001',
 '0111586001',
 '0111565003',
 '0111565001',
 '0110065011',
 '0110065002',
 '0110065001',
 '0108775051',
 '0108775044',
 '0108775015']

In [32]:
LL = len(df_clear_final[0])
LL

12

In [33]:
df_f = pd.DataFrame(df_clear_final)

In [36]:
df_f.to_csv('recommend_final.csv')

In [52]:
test_like = ['0794321007', '0895610005','0805000007 ','0568601043','0895555002 ']
test_like2 = ['']

In [61]:
def get_recommend( input_list, recommend_table):
    L1 = len(input_list)
    L2 = 12
    T = L1+L2
    s = 0
    rec = recommend_table[-1]
    for i in recommend_table:
        s_tmp = T - len(set(i+input_list))
        if s_tmp>s:
            rec = i
            s = s_tmp
    return rec, s

In [64]:
aa,scores = get_recommend(test_like,df_clear_final)

In [65]:
print(scores)
aa

2

['0762846031',
 '0762846027',
 '0895555002',
 '0762846028',
 '0895610005',
 '0850917006',
 '0889460003',
 '0568601043',
 '0906633001',
 '0757903024',
 '0903049003',
 '0762846001']