In [1]:
import numpy as np
import pandas as pd

In [34]:
df = pd.read_csv("recommend_final.csv",dtype=str)

In [35]:
df

,0,1,2,3,4,5,6,7,8,9,10,11
0,568601043,779781015,858856005,399256001,871517014,683001020,685814022,685816002,912100001,547780040,872537006,909588006
1,794321007,794321011,805000008,805000007,911214001,805000001,913597001,861803009,906305002,873158008,614854005,871710010
2,448509014,719530003,719530014,448509018,448509035,793012001,760084003,815808001,897730004,806131012,788575004,862970001
3,685814001,685814062,685814005,685814022,685814003,685814065,685814063,685814061,723469001,685813001,685814006,794575001
4,865929003,909869004,572998013,935858001,572998001,677930037,572998009,935858002,864216001,909869001,793012001,874113005
...,...,...,...,...,...,...,...,...,...,...,...,...
196315,761269001,906226001,881577002,906226002,516859008,874891006,902518003,787946002,916468002,797710001,818754007,902518007
196316,863646005,910601003,898573003,803757023,905365002,873276003,881919002,905365001,919273001,677930023,685814033,865086006
196317,557599022,804992013,805000007,700765001,572998001,874819003,767423001,805000010,921380001,921906003,804992014,706016038
196318,762846027,895610005,895555002,762846029,850917006,677930023,767423011,762846028,858856002,757903024,936862001,806605001
196319,112679048,111609001,111593001,111586001,111565003,111565001,110065011,110065002,110065001,108775051,108775044,108775015

In [36]:
recommend_table = df.values.tolist()
recommend_table[0]

['568601043',
 '779781015',
 '858856005',
 '399256001',
 '871517014',
 '683001020',
 '685814022',
 '685816002',
 '912100001',
 '547780040',
 '872537006',
 '909588006']

In [37]:
def get_recommend( input_list, recommend_table):
    L1 = len(input_list)
    L2 = 12
    T = L1+L2
    s = 0
    LL = len(recommend_table)
    idx_start = np.random.randint(LL)
    rec = recommend_table[idx_start]
    for i in recommend_table:
        s_tmp = T - len(set(i+input_list))
        if s_tmp>s:
            rec = i
            s = s_tmp
    return rec, s

In [42]:
test_like = ['761269001','906226001', '0895610005','0805000007 ','0568601043','0895555002 ']
test_like2 = ['']

In [43]:
rec, s = get_recommend( test_like, recommend_table)
print(s)
rec

2

['761269001',
 '516859008',
 '881577002',
 '906226001',
 '906226002',
 '902518003',
 '873158008',
 '874891006',
 '916468002',
 '715624013',
 '921906001',
 '750422018']